.Under-nav {
    height: 20vh;
    width: 100vw;
    padding-top: 30px;
    padding-left: 5vw;
    

}

.Under-nav span{
    font-weight: 500;
}
.Under-nav button{
    background-color: rgb(237, 164, 21);
    border-radius: 15px;
    margin-left: 200px;
}
.Under-nav button:hover{
    color: rgb(237, 164, 21) ;
    border: 2px solid  rgb(237, 164, 21);
    background-color: transparent;
    transition: 0.7s ease-in-out;
}
.btn02{
    margin-left: 200px;
}