.Sform1 h1{
    color: rgb(237,164,21);
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 2px;
    padding-left: 13vw;
    margin-top: 15vh;
    margin-left: -2vw;
}
.LFormcontent{
    padding-left: 10vw;
    
}

.email {
    width: 27vw;
    border:none;
    font-size: 16px;
    font-weight: 500;
    background-color: #eeecec;
    background-image: url('../assets1/envelope-regular.svg');
    background-position: 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    color: black;

}
.passw {
    width: 27vw;
    border:none;
    font-size: 16px;
    font-weight: 500;
    background-color: #eeecec;
    background-image: url('../assets1/lock-solid.svg');
    background-position: 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    color: black;
}
.forgot1{
    text-decoration: none;
    color: black;
    padding-left: 8vw;
}
.forgotmain1{
    margin-top: -4vh;
}
input[type=submit]{
    font-size: 16px;
    font-weight: 500;
    border-radius: 40px ;
    background-color: rgb(237,164,21);
    border: none;
    width: 17vw;
    height: 8vh;
    margin-left: 4vw;
}

input[type=submit]:hover{
    border: 2px solid rgb(237,164,21);
    color: rgb(237,164,21);
    background-color: white;
    transition: .7s ease-in;
}
